.footer-container {
  background-color: var(--Color-second);
  color: var(--Color-gray);           
  width: 100%;
  padding: 24px 0;          
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  font-size: 14px;          
  font-weight: 400;
}

.footer-link {
  color: var(--Color-gray);
  text-decoration: underline; 
  margin-left: 5px;           
  cursor: pointer;
}

.footer-link:hover {
  color: #7a7a7a; 
}