.top-post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
}

.top-post-header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.top-post-heading {
  font-size: clamp(16px, 3.72vw, 24px);
  font-weight: 700;
  font-style: bold;
  color: var(--Color-second);
  text-align: left;
}

.top-post {
  border-radius: 12px;
  background-color: white;
  padding: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-post-image-wrapper {
  position: relative;
  width: 100%;
  height: 354px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.top-post-image {
  width: 100%;
  height: 354px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.top-post-title {
  position: absolute; /* ให้ลอยอิสระ */
  bottom: 0; /* ชิดขอบล่าง */
  left: 0; /* ชิดซ้าย */
  width: 100%;
  margin: 0;
  padding: clamp(12.5px, 2.91vw, 25px);
  box-sizing: border-box;
  color: var(--SUT-Orange);
  font-size: clamp(8px, 1.86vw, 18px);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.75);
}

.top-post-item .top-post-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: inline-block; 
  max-width: 405px;
  font-size: clamp(8px, 1.86vw, 16px);
}

.top-post-info {
  display: flex;
  align-items: center;
  font-size: clamp(8px, 1.86vw, 16px);
  color: var(--Color-gray);
}

.top-post-info .top-post-item {
  display: flex;
  align-items: center;
  padding: 6px 0px;
  margin-right: 20px;
  gap: 8px;
}

.top-post-info img {
  height: clamp(10px, 2.33vw, 24px);
  width: clamp(9px, 2.1vw, 22px);
  filter: brightness(0) saturate(100%) invert(73%) sepia(3%) saturate(0%)
    hue-rotate(18deg) brightness(92%) contrast(82%);
}

@media (max-width: 800px) {
  .top-post-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0px 8px;
    box-sizing: border-box;
  }

  .top-post:nth-child(n + 2) {
    display: none;
  }

  .top-post-heading {
    margin-left: 10px;
  }

  .top-post-item .top-post-content {
    max-width: 45vw;
  }
}

@media (max-width: 430px) {

  .top-post-image-wrapper, .top-post-image {
    height: 258px; 
  }

  .top-post-item .top-post-content {
    max-width: 45vw; 
  }
}
