:root {
  --Color-text-white: #F5F5F7;
  --Color-text: #000000;
  --Color-border: #F5F5F7;
  --SUT-Orange: #F26522;
  --Color-second: #3A3A3C;
  --Color-gray: #A4A4A4;
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}